[user]
	name = Eike
	email = eike.rackwitz@mail.de
[init]
	defaultBranch = main
[core]
	autocrlf = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
